* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  width: 340px;
  margin: auto;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.263);
  padding: 20px;
  margin-top: 50px;
}

.money {
  margin-top: 12px;
  margin-bottom: 12px;
  color: green;
  font-size: 25px;
  font-weight: 700;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  margin: 7px 0;
  padding: 8px 4px;
  outline: 0;
}

.add-btn {
  padding: 12px 24px;
  width: 300px;
  margin-top: 10px;
  cursor: pointer;
  background-color: navy;
  color: white;
  display: inline-block;
  border-radius: 4px;
}

.clear {
  padding: 12px 21px;
  width: 300px;
  margin-top: 10px;
  cursor: pointer;
  background-color: green;
  color: white;
  display: inline-block;
  border-radius: 4px;
}

button {
  font-size: 18px;
  width: 60px;
  margin-top: 10px;
  cursor: pointer;
  color: navy;
  display: inline-block;
  border-radius: 4px;
  border: none;
  margin-bottom: 8px;
  margin-left: auto;
  font-weight: 500;
  background-color: transparent;
}

li {
  list-style: none;
}

p {
  display: inline-block;
  margin: 0 10px;
}

ul .lists {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 6px;
  margin-top: 12px;
  background-color: rgba(0, 0, 0, 0.1);
}