.container {
  width: 300px;
  margin: auto;
  text-align: center;
}

input {
  width: 100%;
  margin: 5px 0;
  padding: 5px;
}

button {
  padding: 6px 10px;
  margin-top: 10px;
  cursor: pointer;
}
